* {
  font-family: "MesloGMDZ Nerd Font Mono";
  font-size: 1rem;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #D9D9D9;
}

#clock,
#cpu,
#memory,
#network,
#temperature,
#pulseaudio {
  margin: 0 15px 0 0;
}

#workspaces {
  margin: 7px 5px 5px;
}

#workspaces button {
  background: transparent;
  border: none;
  min-width: 28px;
  min-height: 28px;
  padding: 0;
  margin: 2px;
}

#workspaces button.active {
  background-color: rgba(164, 137, 249, 0.3);
  border-radius: 100%;
  min-width: 28px;
  min-height: 28px;
  padding: 0;
  margin: 2px;
  font-weight: bold;
}
